<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
	<ul class="contact-list">
	  <li>RSDD introduced in <a style='font-style: italic' href="{{site.paperurl}}">Depression and Self-Harm Risk Assessment in Online Forums</a> (EMNLP '17) by <a href="https://andrewyates.net">Andrew Yates</a>, <a href="http://armancohan.com">Arman Cohan</a>, and <a href="http://people.cs.georgetown.edu/~nazli/">Nazli Goharian</a>.</li>
	</ul>
      </div>

      <div class="footer-col footer-col-2">
	<ul class="social-media-list">
	  <li>
	    {% include icon-twitter.html username="andrewyates" %}
	  </li>
	  <li>
	    {% include icon-twitter.html username="armancohan" %}
	  </li>
	</ul>
      </div>
      
    </div>

  </div>

</footer>
